* {
  box-sizing: border-box;
}
html,
body {
  padding: 0%;
  margin: 0%;
}
.App {
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(57, 42, 42);
}

.contenedor-calculadora {
  width: 350px;
  height: 500px;
  padding: 14px;
  background-color: rgb(33, 136, 136);
  font-family: fantasy;
  justify-content: center;
  border-radius: 20px;
  border: solid;
  box-shadow: -1px 0.1px 1px 2px rgb(12, 12, 12);
}

h1 {
  color: white;
  font-size: 2rem;
  font-family: monospace;
  letter-spacing: 1px;
  font-weight: 800;
  margin: 10px;
}

.fila {
  margin: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}
